@import '../../../utils/variables.scss';

.file {
  margin: 10px 0;
  border-bottom: solid 2px $font-color;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  align-items: center;

  &:hover {
    transform: scale(1.02);
  }
  .img {
    justify-self: center;
    padding: 8px 0;
  }

  .name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 600;
  }
  .date {
    grid-column-start: 5;
    justify-self: center;
  }
  .size {
    grid-column-start: 6;
    justify-self: center;
  }
  .btn {
    display: none;
    width: 58px;
    height: 34px;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 37px;
    border: 1px solid $font-color;
    padding: 7px;
  }
  &:hover .date {
    grid-column-start: 3;
  }
  &:hover .size {
    grid-column-start: 4;
  }
  &:hover .download {
    grid-column-start: 5;
    display: block;
  }
  &:hover .delete {
    grid-column-start: 6;
    display: block;
  }
}

.file_plate {
  width: 200px;
  height: 200px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  .img_plate {
    height: 100px;
    width: 100px;
  }
  .btn_plate {
    display: none;
  }
  .name_plate {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &:hover .btn_plate {
    display: flex;
    margin: 5px 7px;
    justify-content: space-between;
    cursor: pointer;
  }
}
