@import '../../utils/variables.scss';

.disk {
  margin-top: 20px;

  .btns {
    display: flex;

    .input_upload {
      display: none;
    }

    .upload_label {
      border: 2px dashed $font-color;
      padding: 5px 10px;
      cursor: pointer;
      margin-left: 10px;
    }
  }

  .disk_create {
    margin-left: 10px;
  }
}

.drop_area {
  width: 100%;
  height: calc(100vh - 50px - 40px);
  margin: 20px;
  border: 2px dashed $font-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
