@import '../../utils/variables.scss';

.disk {
  margin-top: 20px;

  .btns {
    display: flex;

    .input_upload {
      display: none;
    }

    .upload_label {
      border: 2px dashed $font-color;
      padding: 5px 10px;
      cursor: pointer;
      margin-left: 10px;
    }
  }

  .disk_create {
    margin-left: 10px;
  }
}
