@import '../../utils/variables.scss';

.navbar {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: white;
  width: 100%;

  .container {
    width: 1140px;
    display: flex;
    align-items: center;

    .logo {
      width: 40px;
      height: 40px;
    }
    .header {
      margin-left: 10px;
      font-size: 24px;
      font-weight: 700;
    }
    .login {
      margin-left: auto;
      margin-right: 20px;
      cursor: pointer;
      font-weight: 700;
    }
    .registration {
      font-weight: 700;
    }
    .search_file {
      width: 200px;
      margin-left: 30px;
    }
  }
}
